[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/Karosemi
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Karosemi
	label-Verified = -1..+1 group user/Karosemi
	push = group user/Karosemi
	read = group user/Karosemi
	rebase = group user/Karosemi
	removeReviewer = group user/Karosemi
	submit = group user/Karosemi
[access "refs/heads/*"]
	create = group user/Karosemi
	push = +force group user/Karosemi
	pushMerge = group user/Karosemi
	read = group user/Karosemi
[access "refs/tags/*"]
	push = group user/Karosemi
	push = +force group user/Karosemi
